.fade
{
  background-color:red;
  height:100px;
  width:200%;
  
    
}
.fade1
{
    background-color: orangered;
    color:white;
    height:100px;
    width:100%;
    text-align:center;

}
.fade2
{
    background-color: blueviolet;
    color:white;
    height:100px;
    width:100%;
    text-align: center;
    
}
.fade3
{
    background-color:green;
    color:white;
    height:100px;
    width:100%;
    text-align: center;
    
}
.fade4
{
    background-color:red;
    color:white;
    height:100px;
    width:100%;
    text-align: center;
    
}

.slide
{
    height:400px;
    width:100%;
    background-color:red;
    color:white;
    text-align:center;
    display:none;
    font-size: 20px;
    
}
